.FeaturedVideo {
    display: grid;
    align-items: center;
    grid-template-areas: 
    "sel vid"
    "title vid"
    "desc vid"
    ;
    @media (max-width: 1023px) {
        grid-template-areas:
        "title"
        "sel"
        "vid"
        "desc"
        ;
        grid-template-columns: 1fr;
        padding: 3rem 1rem;
    }
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 4.5rem;
    padding: 7rem 8rem;
    --lh: 1.5rem;
    line-height: var(--lh);
    span.select {
        grid-area: sel;
        select {
            margin-bottom: 3rem;
            font-size: 1rem;
            @media (max-width: 1023px) {
                display: inline-block;
                margin: 0 auto;
                margin-bottom: 3rem;
            }
        }
    }
    h2 {
        grid-area: title;
        margin-bottom: 2rem;
        @media (max-width: 1023px) {
            text-align: center;
        }
    }
    p {
        grid-area: desc;
        --max-lines: 3;
        position: relative;
        max-height: calc(var(--lh) * var(--max-lines));
        overflow: hidden;
        padding-right: 1rem;
        font-size: 1.25rem;
        &::before {
            position: absolute;
            content: "...";
            bottom: 0;
            right: 0;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            width: 1rem;
            height: 1rem;
            background: white;
        }
    }
    span.video {
        grid-area: vid;
        position: relative;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
}