select, input {
	border: 0;
	border-bottom: 1px solid $gray;
	max-width: 18rem;
	padding-left: .75rem;
	padding-bottom: .5rem;
	appearance: none;
    padding-right: 1.5rem;
    background-color: transparent;
    font-size: 1rem;
}
.select-dropdown-icon {
    color: $secondary;
    position: relative;
    margin-left: -.75rem;
    z-index: -1;
}