@import '../../assets/scss/colors';

.MoreVideos {
	padding: 7rem 0;
	background-color: #e4e4e4;
	display: grid;
    grid-template-areas: "title title title title title" "para para para para para" "lChev left center right rChev" "pagi pagi pagi pagi pagi";
    grid-template-columns: 8rem repeat(3, 1fr) 8rem;
    grid-column-gap: 1.5rem;
    justify-items: center;
    h3 {
        grid-area: title;
        text-align: center;
        font-weight: 400;
        margin-bottom: 1.125rem;
    }
    p {
        grid-area: para;
        text-align: center;
        margin-bottom: 4rem;
    }
    h4 {
        font-weight: 400;
    }
    a {
        color: $secondary;
        align-self: end;
    }
    span {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-self: center;
        grid-area: lChev;
        &:nth-of-type(2) {
            grid-area: rChev;
        }
        &:hover {
            svg {
                transition: all .25s ease;
                color: $primary;
                &.circle-bg {
                    color: $white;
                    transition: all .25s ease;
                }
            }
        }
        svg {
            color: $white;
            transition: all .25s ease;
            &.circle-bg {
                color: $primary;
                transition: all .25s ease;
            }
        }
    }
    div {
        grid-area: pagi;
        margin-top: 2rem;
        span {
            display: inline;
            margin-left: .25rem;
            margin-right: .25rem;
            svg {
                color: $gray;
                &.active {
                    color: $primary;
                }
            }
        }
    }
}