@import '../../assets/scss/colors';

.Header {
    display: grid;
    align-items: center;
    grid-template-columns: 9.75rem auto 11.25rem;
    padding: .5rem 1rem .25rem 1rem;
    justify-items: center;
    position: relative;
    z-index: 100;
    @media (max-width:1023px) {
        grid-template-columns: 1fr 1fr;
        padding: 1rem 1.25rem;
        background-color: $white;
        justify-items: unset;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }
    svg {
        width: 9.5rem;
        &.dark {
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
        &.light {
            @media (min-width: 1024px) {
                display: none;
            }
        }
    }
    button {
        height: max-content;
        @media screen and (max-width: 1023px) {
            display: none;
        }
    }
    span {
        cursor: pointer;
        &.desk {
            @media screen and (min-width: 1024px) {
                display: none;
            }
        }
    }
    nav {
        &.desk {
            @media screen and (max-width: 1023px) {
                display: none;
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin-left: 1rem;
                margin-right: 1rem;
                a {
                    color: rgba(255,255,255,.8);
                    text-decoration: none;
                    &.selected{
                        color: rgba(255,255,255,1);
                    }
                }
            }
        }
    }
}