.Vid {
    display: grid;
    grid-template-areas: "img" "title" "desc" "link";
    grid-column-gap: 1.5rem;
    grid-area: left;
    min-height: 453px;
    cursor: pointer;
    @media (max-width: 1023px) {
        min-height: unset;
        margin-bottom: 1rem;
    }
    &:nth-of-type(2) {
        grid-area: center;
    }
    &:nth-of-type(3) {
        grid-area: right;
    }
    &:nth-of-type(n+4) {
        display: none;
    }
    img {
        grid-area: img;
        max-width: 100%;
    }
    h4 {
        grid-area: title;
    }
    p {
        grid-area: desc;
        text-align: left;
    }
    a {
        grid-area: link;
    }
}